html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

}
footer {
  position:relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  bottom: 0;
  background: #BDB0B0;
  padding: 10px 0;
  text-align: center;
  margin-top:40px;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
footer a:first-child {
  border-left: 1px solid #70726F;
}
footer a:hover {
  color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
